<!-- grid example -->
<div class="container color">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-8">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

<!-- button types example -->
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-outline-primary">Primary</button>

<br>
<br>
<br>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://placekitten.com/200/200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


